<script>
        function Back() {
            window.history.back();
        }

        function executeSearch() {
            if(window.location.pathname != '/'){
                let searchTerm = document.getElementById('search-text').value.replace(/[^a-zA-Z ]/g, "");
                console.log(searchTerm);
                let searchTable = document.getElementById('test').value;

                $('#content').replaceWith('<div id="main-content">' + '</div>');
                let mainContent = document = document.getElementById('main-content');
                let searchURL = `/VPResults?search=${searchTerm}&from=${searchTable}`;

                fetch(searchURL)
                .then((data) => {
                    return data.json();
                })
                .then((data_json) => {
                    let newMainContentHTML = '';
                    data_json.results.forEach((row) => {
                    newMainContentHTML += createCard(row);
                    });
                    mainContent.innerHTML = newMainContentHTML;
                    if (data_json.message) {
                    addFlashFromFrontEnd(data_json.message);
                    }
                })
                .catch((err) => console.log(err))
                }
            else {
                let searchTerm = document.getElementById('search-text').value.replace(/[^a-zA-Z ]/g, "");
                let searchTable = document.getElementById('test').value;

                if(document.getElementById("AboutUs")){
                var delmsg = document.getElementById("AboutUs"); //delete AboutUs Message
                delmsg.remove();
                }
                

                let mainContent = document = document.getElementById('main-content');
                let searchURL = `/VPResults?search=${searchTerm}&from=${searchTable}`;

                fetch(searchURL)
                .then((data) => {
                    return data.json();
                })
                .then((data_json) => {
                    let newMainContentHTML = '';
                    data_json.results.forEach((row) => {
                    newMainContentHTML += createCard(row);
                    });
                    mainContent.innerHTML = newMainContentHTML;
                    if (data_json.message) {
                    addFlashFromFrontEnd(data_json.message);
                    }
                })
                .catch((err) => console.log(err))
            }
        }
    </script>

<body>
    <div id="content">
        <div class="container-fluid">
            <!-- Top Buttons -->
            <div class="row">
            </div>

            <div class="row">
                <div class="col-sm text-center">
                    <!-- Image 
                        need an upload photo button?
                    -->
                    <img style="margin-top: 200px;" src="/Assets/uploads/{{currentProfile.Thumbnail}}"><br><br>
                    <!-- Contact Button -->
                    {{#if logged}}
                    <input type="button" class="btn btn-outline-dark" onclick="window.location.href = '/Message?to={{currentProfile.UserName}}';" value="Contact Me" style="background-color: #f90 !important; color: black;">
                    {{else}}
                    <input type="button" class="btn btn-outline-dark"  onclick="window.location.href = '/Login'" value="Log In to Message" style="background-color: #f90 !important; color: black;">
                    {{/if}}
                </div>

                <div class="col-sm text-center">
                    <!-- Info -->
                    <!-- need to have editable text fields later 
                            edit button?
                    -->
                    <h2 style="text-align: center; margin-top: 220px;"><b> {{currentProfile.Name}} </b></h2><br>
                    <h3 style="text-align: center;"> {{currentProfile.ListingTittle}} </h3><br>
                    <h4 style="text-align: center;"> {{currentProfile.ListingDescription}} </h4><br>
                    <!-- Back Button -->
                    <button type="button" class="btn btn-outline-dark" onclick="Back();" style="position: relative; background-color: #f90 !important; color: black;">Back</button>            
                    </div>

                <div class="col-sm text-center">
                    <h2 style="text-align: center; margin-top: 220px;"><b>Availability</b></h2><br>
                    <h3 style="text-align: center;">{{currentProfile.Availability}}</h3>  
                </div>
            </div>
        </div>
    </div>
</body>